@media screen and (max-width: 600px) {
    .padre{
        min-height: 100vh;
        display: flex;
        flex-direction: column;

    }



    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }
    
    .carrito-producto{
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal{
        display: none;
    }

    .carrito-acciones{
        flex-wrap: wrap;
        row-gap: 1rem;
    }
}


@media screen and (max-width: 400px) {
    .contenedor-productos{
        grid-template-columns: 1fr ;
    }

}