// Globales
$bgColor: #EFD5F2 , #D2A2F2, #B78DF2 , #6DBFF2 , #BBDDF2 ;
$h1235Color: #694EBF;
$blackColor: #0f0f0f;
$whiteColor: #eee8e8;
$carritoColorBg: #B78DF2 , #BBDDF2;
$hoverHover:#D2A2F2;
$hover2Hover:#B78DF2;
$colorbb:#BBDDF2;
$redcolor :red;
$color1:#EFD5F2 ;
$color2:#D2A2F2 ;
$color3:#B78DF2 ;
$color4:#6DBFF2 ;
$color5: #BBDDF2;




// Fonts
$hfont48:48px;
$hfont30:30px;
$hfont20:20px;
$mainFont: font-family 'Rubik', sans-serif;
$font15:15px;



//imgBo
$widimg:150px;


//paddigs
$padig5:5px;
$raroPa:8px 32px;
$border2re:2rem;


//bordes radius y border
$radius1re:1rem;
$border:2px;
$radius2re:2rem;
$borderR12:12px;
$borderR10:10px;


//margin
$margin5:5px;


//px
$px8:8px;
$px2:2px;

//botonForm
$bgbottom: 45deg, red, deeppink, blue,
red, blue, deeppink, blue;


//width y hei
