<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <link rel="shortcut icon" href="../Img/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>


<body>
    <!--Nav Comiezo-->
    <nav class="navbar navbar-expand-sm botonera">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">
            <img  src="../Img/Logo.png" alt="Logo de la pagina">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span  class="bi bi-view-list"></span>
         </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="hover nav-item">
                <a class="nav-link" href="./sobreNosotros.html">Sobre Nosotros</a>
              </li>
              <li class="hover nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
              <li class="hover nav-item">
                <a class="nav-link" href="./productos.html">Productos</a>
              </li>
              <li class="hover nav-item">
                <a class="nav-link" href="./carrito.html">Carrito</a>
              </li>
              
            </ul>

          </div>
        </div>
      </nav>
      <!--Nav fin-->


        <div class="padre">

          <main>
            <h2 class="titulo-principal">Todos los productos</h2>
            <div class="contenedor-productos">
                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc1.webp" alt="Esmalte Masgloo">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto1</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc2.webp" alt="Esmaltes Admiss">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto2</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc3.webp" alt="Lampara de secado de uñas">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto3</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc4.webp" alt="Tono de cabello">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto4</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc5.webp" alt="Mascarilla capilar">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto5</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc6.webp" alt="Mascarilla capilar Skala">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto6</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc7.webp" alt="Agua para el cabello especial">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto7</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc8.webp" alt="Gel para el cabello">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto8</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc9.webp" alt="Gel para uñas ">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto9</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc10.webp" alt="Mascarilla capilar">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto10</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc11.webp" alt="Shampoo el Sol">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto11</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc12.webp" alt="Crema antiarrugas">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto12</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc13.webp" alt="Mascarilla para el cabello, cuerpo y piel">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto13</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc14.webp" alt="Agua micelar">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto14</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc15.webp" alt="Aceite y crema de limon">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto15</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>

                <div class="producto">
                    <img class="producto-imagen tamaño-imagen" src="../Img/productos/produc16.webp" alt="Crema corporal">
                    <div class="producto-detalles">
                        <h3 class="producto-detalles-titulo">Producto16</h3>
                        <p class="producto-detalles-precio">$5.000</p>
                        <button class="producto-detalles-agregar">Agregar</button>
                    </div>
                </div>


            </div>
          </main>
        </div>


      <footer>
        
        <div>
            <h2 class="primer-H2">
                Siguenos en nuestras redes sociales
            </h2>
        </div>
    
        <div>
            <ul class="lista-iconos">
                <li>
                    <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                </li>
                <li>
                    <a  href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>  
                </li>
            </ul>
        </div>
    
        <div>
            <h4 class="primer-H4">
                Milagros Celestiales © 2023 Todos los derechos reservados.
            </h4>
    
        </div>
    
    
    
    </footer>
    <!-- FIN FOOTER-->
    
    
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
    </html>