<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre nosotros</title>
    <link rel="shortcut icon" href="../Img/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>


<body>
    <!--Nav Comiezo-->
    <nav class="navbar navbar-expand-sm botonera">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">
            <img  src="../Img/Logo.png" alt="Logo de la pagina">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span  class="bi bi-view-list"></span>
         </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="hover nav-item">
                <a class="nav-link" href="./sobreNosotros.html">Sobre Nosotros</a>
              </li>
              <li class="hover nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
              <li class="hover nav-item">
                <a class="nav-link" href="./productos.html">Productos</a>
              </li>
              <li class="hover nav-item">
                <a class="nav-link" href="./carrito.html">Carrito</a>
              </li>
              
            </ul>

          </div>
        </div>
      </nav>
      <!--Nav fin-->


      <main class="textos-nosotros">
        <div >
            <h3 class="primer-H3">Quienes Somos</h3>
                <p class="primer">
                    Somos una tienda en línea especializada en la venta de productos de belleza de alta calidad. Nuestro equipo está formado por apasionados expertos en el campo de la cosmética y el cuidado personal. Nos enorgullecemos de ofrecer una amplia gama de productos que incluyen cosméticos, cuidado facial, cuidado capilar, fragancias y mucho más.
                </p>
        </div>
        <div class="textos-nosotros">
            <h3 class="primer-H3">Mision</h3>
                <p class="primer">
                    Nuestra misión es proporcionar a nuestros clientes una experiencia única y satisfactoria al adquirir productos de belleza de la más alta calidad.
                </p>
        </div>
        <div class="textos-nosotros">
            <h3 class="primer-H3">Vision</h3>
                <p class="primer">
                    Con una visión centrada en empoderar a nuestros clientes a través del cuidado personal, nuestro objetivo es convertirnos en el destino preferido para quienes buscan el cuidado personal.
                </p>
        </div>


      </main> 


<!--Footer-->
      <footer>
        
        <div>
            <h2 class="primer-H2">
                Siguenos en nuestras redes sociales
            </h2>
        </div>
    
        <div>
            <ul class="lista-iconos">
                <li>
                    <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a> 
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                </li>
                <li>
                    <a  href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>  
                </li>
            </ul>
        </div>
    
        <div>
            <h4 class="primer-H4">
                Milagros Celestiales © 2023 Todos los derechos reservados.
            </h4>
    
        </div>
    
    
    
    </footer>
    <!-- FIN FOOTER-->
    
    
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
    </html>